.BorderRadius-Default{
      border:1px solid black;
      border-radius:10px;
      border-width:1px;
      width: 200px;
      height: 25px; 
}

.BorderRadius-Drag{
    border: 1px solid rgb(11, 101, 11);
    border-radius:10px;
    border-width:1px;
    width: 200px;
    height: 25px; 
    background-color: rgb(176, 216, 176);

}
